.modalBackground { 
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
  }
  
  .modalContainer {
    position: relative;
    margin: auto;
    max-width: 500px;
    min-width: 380px;
    max-height: 500px;
    overflow-y: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding: 50px 30px 20px;
  }
  
  
  .btn-close {
    --position: 5px;
    position: absolute;
    top: var(--position);
    right: var(--position);
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #c0c5cb;
    cursor: pointer;
  }

  .card-header .search_wrap{
    margin-bottom: 15px;
  }

  /* addd user styling */
  .add-user{
    padding: 10px 0px;
    margin-top: 10px;
    --dark-grey: #5d5d5d;
    color: var(--dark-grey)
  }
  .add-user .userMeta p{
    font-size: 0.75rem;
    color: var(--dark-grey);
  }
 
  /* header modal chat buttons */
  .btn-model-chat{
    width: 50%;
    height: auto;
    justify-content: center;
    padding: 0px 20px;
    line-height: 3;
  }
  .bg-outline-secondary{
    border: 1px solid #5ff18363 ;
    color: rgb(6, 6, 6);
    background: #5ff18363;
  }
  .bg-outline-secondary:hover{
    background: #5ff183;
    color: #000;
    border-color: #5ff183;
  }