
  svg {
    position: fixed;
    top: 10px;
    left: 180px;
  }
  
  .form-box {
    width: 50%;
    margin: auto;
    background: #f0f0f0;
    padding: 20px 20px 0;
  }
  
  h2 {
    padding: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    color: #414141;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 20px 10px;
    margin: 0 auto 10px;
    border: none;
    background: transparent;
  }
  input::placeholder {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  input:hover, input:focus, input:active:focus {
    color: #ff5722;
    outline: none;
    border: 1px solid #ff5722;
  }
  
  .email,
  .pwd {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    color: #858585;
    font-weight: lighter;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  

  .btn-box{
    display: flex;
    justify-content: space-between;
  }
  
  button {
    cursor: pointer;
    display: inline-block;
    width: 48%;
    padding-block: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  button:nth-of-type(1) {
    background: #673ab7;
  }
  button:nth-of-type(2) {
    background: #ff5722;
  }
  button span {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  button:hover span {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  
  .reg {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%) scale(1);
    transform: translateY(-100%) scale(1);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #673ab7;
    z-index: 5;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }
  
  .sig {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-100%) scale(1);
    transform: translateY(-100%) scale(1);
    display: block;
    width: 20px;
    height: 20px;
    display: block;
    background: #ff5722;
    z-index: 5;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
  }