
  svg {
    position: fixed;
    top: 10px;
    left: 180px;
  }
  
  .form-container {
    width: 40%;
    margin: auto;
  }

  .form-box {
    background: #f0f0f0;
    padding: 20px;
  }
  
  h2 {
    padding: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 3.4rem;
    color: #414141;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 20px 10px;
    margin: 0 auto 10px;
    border: none;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    color: #858585;
    font-weight: lighter;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  input::placeholder {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  input:hover, input:focus, input:active:focus {
    color: #ff5722;
    outline: none;
    border: 1px solid #ff5722;
  }
  

  .btn-box{
    display: flex;
    justify-content: space-between;
  }
  
  
  button {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    padding-block: 20px;
    border: none;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  /* .btn-box button:nth-of-type(1) {
    background: #673ab7;
  }
  .btn-box button:nth-of-type(2) {
    background: #ff5722;
  } */

  .btn-box button{
    background-color: #8169ab;
  }

  .btn-box button.active{
    background-color: #673ab7;
  }

  button:hover {
    opacity: 0.9;
  }

  .btn span{
    margin: auto;
  }
  .btn-info{
    margin: 20px auto 0;
    background-color: #09229f;
  }